---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import Link from "@components/ui/Link.astro";
import CallToAction from "@components/CallToAction.astro";
import { Picture } from "@astrojs/image/components";
import { format } from "date-fns";
import { fr } from "date-fns/locale/index.js";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// Get the entry directly from the prop on render
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} canonical={entry.data.canonical}>
  <Container>
    <div class="mx-auto max-w-3xl mt-14">
      <span class="text-brand-500 uppercase tracking-wider text-sm font-medium">
        {entry.data.category}
      </span>
      <h1
        class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight"
      >
        {entry.data.title}
      </h1>
      <div class="flex gap-2 mt-3 items-center flex-wrap md:flex-nowrap">
        <span class="text-canvas-500">
          {entry.data.author}
        </span>
        <span class="text-canvas-500">•</span>
        <time
          class="text-canvas-500"
          datetime={entry.data.publishDate.toISOString()}
        >
          {format(entry.data.publishDate, "eeee dd MMMM yyy", { locale: fr })}
        </time>
        <span class="text-canvas-500 hidden md:block">•</span>
        <div class="w-full md:w-auto flex flex-wrap gap-3">
          {
            entry.data.tags.map((tag) => (
              <span class="text-sm text-canvas-500">#{tag}</span>
            ))
          }
        </div>
      </div>
    </div>
    <Picture
      src={entry.data.image.src}
      alt={entry.data.image.alt}
      sizes="(max-width: 800px) 100vw, 800px"
      widths={[200, 400, 800]}
      aspectRatio="16:9"
      background="#ffffff"
      fit="cover"
      position="center"
      loading="eager"
      decoding="sync"
      class="w-full mx-auto max-w-3xl rounded-md shadow-lg mt-8"
    />
    <div
      class="mx-auto prose prose-slate prose-lg mt-6 max-w-3xl prose-a:text-brand-500 prose-a:no-underline hover:prose-a:text-brand-800 marker:prose-ul:text-accent-500 prose-blockquote:border-accent-500 prose-blockquote:bg-accent-50 prose-blockquote:py-1 prose-img:w-full prose-img:mx-auto prose-img:max-w-3xl prose-img:rounded-md prose-img:shadow-lg prose-img:my-8"
    >
      <Content />
    </div>
    <div class="text-center mt-8">
      <Link href="/blog" style="outline">← Revenir au Blog</Link>
    </div>
    <CallToAction
      title="Besoin de plus d’infos ?"
      description="Vous n’avez pas trouvé toutes les informations dont vous aviez besoin dans cet article ? Pas de panique, je peux vous aider !"
      cta="Appelez-moi !"
      url="tel:+33665823689"
    />
  </Container>
</Layout>
