---
import Section from "./Section.astro";
import Container from "./Container.astro";
import FeelWellIcon from "@icons/FeelWellIcon";
import GrowTurnoverIcon from "@icons/GrowTurnoverIcon";
import GrowMoneyIcon from "@icons/GrowMoneyIcon";
import GrowTeamIcon from "@icons/GrowTeamIcon";
import PiggyIcon from "@icons/PiggyIcon";
import HireIcon from "@icons/HireIcon";
import CreateIcon from "@icons/CreateIcon";
import ChefIcon from "@icons/ChefIcon";
import SawIcon from "@icons/SawIcon";
import RightArrowIcon from "@icons/RightArrowIcon";

const title = "Mes formules d’accompagnement d’entreprises";
const subTitle = "Mes formules d’accompagnement d’entreprises";
const formules = [
  {
    title: "Vous sentir plus serein",
    name: "Rivazen",
    description: "Accompagnement au pilotage de l’entreprise.",
    icon: FeelWellIcon,
    url: "/formules/rivazen",
  },
  {
    title: "Augmenter votre CA",
    name: "Rivabiz",
    description: "Accompagnement au développement du chiffre d’affaires.",
    icon: GrowTurnoverIcon,
    url: "/formules/rivabiz",
  },
  {
    title: "Générer plus de résultat",
    name: "Rivagest",
    description: "Accompagnement à la gestion d’entreprise.",
    icon: GrowMoneyIcon,
    url: "/formules/rivagest",
  },
  {
    title: "Embaucher et investir",
    name: "Rivaboost",
    description: "Accompagnement à l’embauche et à l’investissement.",
    icon: GrowTeamIcon,
    url: "/formules/rivaboost",
  },
  {
    title: "Gérer votre trésorerie",
    name: "Rivatréso",
    description: "Accompagnement des entreprises en difficulté.",
    icon: PiggyIcon,
    url: "/formules/rivatreso",
  },
  {
    title: "Recruter et manager",
    name: "Rivarecrut",
    description: "Accompagnement dans le recrutement et le management.",
    icon: HireIcon,
    url: "/formules/rivarecrut",
  },
  {
    title: "Créer votre entreprise",
    name: "Rivacrea",
    description: "Accompagnement à la création d’entreprise.",
    icon: CreateIcon,
    url: "/formules/rivacrea",
  },
  {
    title: "Gérer votre restaurant",
    name: "Rivaresto",
    description: "Accompagnement des restaurants et métiers de bouche.",
    icon: ChefIcon,
    url: "/formules/rivaresto",
  },
  {
    title: "Gérer votre menuiserie",
    name: "Rivabois",
    description: "Accompagnement des artisans menuisiers.",
    icon: SawIcon,
    url: "/formules/rivabois",
  },
];
---

<Section aria-labelledby="formules-headline">
  <Container>
    <hgroup class="mt-16 md:mt-0">
      <h2 id="formules-headline" class="text-3xl lg:text-4xl font-bold">
        {title}
      </h2>
      <p class="text-lg mt-4 text-canvas-600">
        {subTitle}
      </p>
    </hgroup>

    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
      {
        formules.map((item) => (
          <article class="flex gap-4 p-6 pt-16 lg:pt-6 border-2 border-brand-500 rounded-lg relative isolate">
            <div class="mt-1 p-4 w-24 h-24 bg-white border-2 border-brand-500 rounded-full shrink-0 absolute top-0 left-1/2 lg:left-0 -translate-x-1/2 lg:-translate-x-1/3 -translate-y-1/2 z-10">
              <item.icon class="w-full" />
            </div>
            <div class="flex flex-col justify-between gap-4 w-full ">
              <div>
                <h3 class="font-semibold text-lg text-center lg:text-right">
                  {item.title}
                </h3>
                <p class="text-canvas-700 mt-4">{item.description}</p>
              </div>
              <a
                href={item.url}
                class="mt-auto text-right text-links-500 hover:text-links-800 after:content-[''] after:absolute after:inset-0 after:bg-transparent hover:after:shadow-lg hover:after:shadow-brand-500/10 transition"
              >
                {item.name}{" "}
                <RightArrowIcon
                  main="fill-current"
                  accent="fill-canvas-800"
                  class="w-6 h-6 inline-block ml-2"
                />
              </a>
            </div>
          </article>
        ))
      }
    </div>
  </Container>
</Section>
