---
import { Icon } from "astro-icon";
const title = "Mes formules d’accompagnement d’entreprises";
const subTitle = "Mes formules d’accompagnement d’entreprises";
const formules = [
  {
    title: "Se sentir plus serein",
    name: "Rivazen",
    description: "Accompagnement au pilotage de l’entreprise.",
    icon: "carbon:face-wink",
    url: "/rivazen",
  },
  {
    title: "Augmenter son CA",
    name: "Rivabiz",
    description: "Accompagnement au développement du chiffre d’affaires.",
    icon: "carbon:analytics",
    url: "/rivabiz",
  },
  {
    title: "Générer plus de résultat",
    name: "Rivagest",
    description: "Accompagnement à la gestion d’entreprise.",
    icon: "carbon:chart-pie",
    url: "/rivagest",
  },
  {
    title: "Embaucher et investir",
    name: "Rivaboost",
    description: "Accompagnement à l’embauche et à l’investissement.",
    icon: "carbon:money",
    url: "/rivaboost",
  },
  {
    title: "Gérer sa trésorerie",
    name: "Rivatréso",
    description: "Accompagnement des entreprises en difficulté.",
    icon: "carbon:chart-combo-stacked",
    url: "/rivatreso",
  },
  {
    title: "Recruter et manager",
    name: "Rivarecrut",
    description: "Accompagnement dans le recrutement et le management.",
    icon: "carbon:partnership",
    url: "/rivarecrut",
  },
  {
    title: "Créer mon entreprise",
    name: "Rivacrea",
    description: "Accompagnement à la création d’entreprise.",
    icon: "carbon:building-insights-3",
    url: "/rivacrea",
  },
  {
    title: "Gérer son restaurant",
    name: "Rivaresto",
    description: "Accompagnement des restaurants.",
    icon: "carbon:restaurant",
    url: "/rivaresto",
  },
  {
    title: "Gérer sa menuiserie",
    name: "Rivabois",
    description: "Accompagnement des menuisiers.",
    icon: "carbon:tree",
    url: "/rivabois",
  },
  
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    {title}
  </h2>
  <p class="text-lg mt-4 text-canvas-600">
    {subTitle}
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    formules.map((item) => (
      <article class="flex gap-4 p-4 pt-16 border border-canvas-300 rounded relative isolate">
        <div class="mt-1 p-6 w-20 h-20 bg-brand-50 border border-brand-500 rounded-full shrink-0 absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10">
          <Icon class="text-brand-500" name={item.icon} />
        </div>
        <div class="flex flex-col justify-between gap-4 w-full ">
          <div>
            <h3 class="font-semibold text-lg">{item.title}</h3>
            <p class="text-canvas-500 mt-2 leading-relaxed">
              {item.description}
            </p>
          </div>
          <a href={item.url} class="mt-auto text-right text-links-500 hover:text-links-800 after:content-[''] after:absolute after:inset-0 after:bg-transparent hover:after:border hover:after:border-brand-300 hover:after:shadow-md hover:after:shadow-brand-500/10 transition">découvrir {item.name} <Icon class="w-4 h-4 inline-block ml-2" name="carbon:arrow-right" /></a>
        </div>
      </article>
    ))
  }
</div>
