---
import { SEO } from "astro-seo";
import Footer from "@components/Footer.astro";
import Navbar from "@components/navbar/Navbar.astro";
import "@fontsource/inter/variable.css";
import Favicon from "@components/Favicon.astro";
import siteInfo from "@data/site-info";

export interface Props {
  title: string;
  canonical?: string;
}

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title, canonical } = Astro.props;

const canonicalURL =
  canonical ? canonical : new URL(Astro.url.pathname, Astro.site).toString();

const makeTitle = title
  ? title + " | " + siteInfo.name
  : siteInfo.name + " | " + siteInfo.title;
---

<!DOCTYPE html>
<html lang="en" class="bg-canvas-50 scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <Favicon />
    <meta name="generator" content={Astro.generator} />
    <link rel="author" href="humans.txt" />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description={siteInfo.description}
      canonical={canonicalURL}
      twitter={{
        creator: "@cedric.bontems",
        site: "@oxy_props",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: makeTitle,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: siteInfo.title,
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
